@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

* {
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    color: #343A40;
}

.main-container, .second-container, .third-container {
    border: #343A40 solid 5px;
    border-radius: 10px;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    background-color: #343A40;
    color: #F8F9FA;
    margin-bottom: 15px;
    margin-top: 15px;
}

.overview-title {
    display: flex;
    font-size: 1.7em;
}


.items {
    display: flex;
}

input#food {
    width: 100%;
    padding: 10px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #343A40;
    border-radius: 4px;
    font-weight: 700;
}

input#calories {
    width: 35%;
    padding: 10px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #343A40;
    border-radius: 4px;
    font-weight: 700;
}

button#add, button#delete {
    width: 20%;
    background-color: #F8F9FA;
    color: #343A40;
    padding: 10px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #343A40;
    border-radius: 4px;
    font-weight: 700;
}

.added-list {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.added-list-items, .history-content {
    display: flex;
    justify-content: space-between;
}
